
@{
    ViewData["Title"] = "Account - Monefy";
}

<section id="account_index">
    <div class="container w-50" style="margin-top: 200px;">
        <div class="row">
            <div class="col-12 text-center">
                <a asp-area="" asp-controller="Income" asp-action="Incomes">
                    <button class="btn btn-success p-3">My incomes</button>
                </a>

                <a asp-area="" asp-controller="Income" asp-action="Create">
                    <button class="btn btn-success p-3">Create Incomes</button>
                </a>
            </div>
        </div>
    </div>
</section>

