@*@model List<AccountViewModel>*@
@{
    ViewData["Title"] = "Accounts - Monefy";
}

<section id="accounts">
    <table class="table table-primary text-center mt-3">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Currency</th>
            <th scope="col">Balance</th>
            <th scope="col">Actions</th>
        </tr>
        @foreach (var account in ViewBag.Accounts)
        {
            <tr>
                <td>@account.Name</td>
                <td>@account.Currency</td>
                <td>@account.Balance</td>
                <td>
                    <button class="btn btn-warning">
                        Update
                    </button>
                    <button class="btn btn-danger">
                        Delete
                    </button>
                </td>
            </tr>
        }
    </table>
</section>
