@{
    ViewData["Title"] = "Expenses - Monefy";
}

<section id="expenses">
    <div class="container w-50" style="margin-top: 200px;">
        <div class="row mb-4">
            <div class="col-12 text-center">
                <span>27/02/2023</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <input type="text" class="bg-success border-success px-5 py-3 fs-3" placeholder="0">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 text-center">
                <textarea cols="47" rows="1" placeholder="Note"></textarea>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 text-center">
                <button class="btn btn-success">Car</button>
                <button class="btn btn-success">Clothes</button>
                <button class="btn btn-success">Communication</button>
                <button class="btn btn-success">+</button>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12 text-center">
                <button class="btn btn-success">Save</button>
            </div>
        </div>
    </div>
</section>
