
@{
    ViewData["Title"] = "Account - Monefy";
}

<section id="account_index">
    <div class="container w-50" style="margin-top: 200px;">
        <div class="row">
            <div class="col-12 text-center">
                <a asp-area="" class="btn btn-success p-3" asp-controller="Account" asp-action="Accounts">
                    My account
                </a>

                <a asp-area="" class="btn btn-success p-3" asp-controller="Account" asp-action="Create">
                    Create Account
                </a>
            </div>
        </div>
    </div>
</section>

