@{
    ViewData["Title"] = "Home Page";
}

<section id="home">
    <div>
        <select class="mt-3 ms-3">
            <option value="euro">€</option>
        </select>
    </div>
    <div class="container pt-4" style="margin-top: 200px;">
        <div class="row mb-4">
            <div class="col-12 text-center">
                <span>27/02/2023</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <span class="badge rounded-pill bg-dark p-5 fs-3">0 €</span>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 text-center">
                <button class="btn btn-danger">
                    <span class="badge rounded-pill fs-5">Expense</span>
                </button>
                <button class="btn btn-success ms-4">
                    <span class="badge rounded-pill fs-5">Income</span>
                </button>
            </div>
        </div>
    </div>
</section>
