@using MonefyClient.ViewModels.InputViewModels;
@model InputExpenseCategoryViewModel
@{
    ViewData["Title"] = "Expense Category - Monefy";
}

<section id="create_account">
    <div class="container w-50" style="margin-top: 200px;">

        <form asp-action="CreateExpense" asp-controller="Category">
            <h2 class="text-center mb-3">Create Expense Category</h2>

            <div class="row">
                <div class="col-12 text-center">
                    <label asp-for="Name" class="form-label"></label>
                    <input type="text" asp-for="Name" placeholder="Account" class="form-control">

                    <small class="text-danger">@Html.ValidationMessageFor(model=>model.Name)</small>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-12 text-center">
                    <input type="submit" class="btn btn-success" />
                </div>
            </div>
        </form>

    </div>
</section>
