@{
    ViewData["Title"] = "Index - Monefy";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<section id="monefy_index">
    <div class="container w-50" style="margin-top: 200px;">
        <div class="row">
            <div class="col-12 text-center">
                <a asp-area="" class="btn btn-success p-3" asp-controller="User" asp-action="Login">
                    Login
                </a>

                <a asp-area="" class="btn btn-success p-3" asp-controller="User" asp-action="Register">
                    Sign Up
                </a>
            </div>
        </div>
    </div>
</section>