@using MonefyClient.ViewModels.OutputViewModels;
@model OutputAccountViewModel
@{
    ViewData["Title"] = "Edit Account - Monefy";
}

<section id="edit_account">
    <div class="container w-50" style="margin-top: 200px;">

        <form asp-action="Edit" asp-controller="Account">
            <h2 class="text-center mb-3">Edit Account</h2>
            <input type="hidden" asp-for="Id" />
            <div class="row">
                <div class="col-12 text-center">
                    <label asp-for="Name" class="form-label"></label>
                    <input type="text" asp-for="Name" placeholder="Account" class="form-control">

                    <small class="text-danger">@Html.ValidationMessageFor(model=>model.Name)</small>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 text-center">
                    <label asp-for="Currency" class="form-label"></label>
                    <select asp-for="Currency">
                        <option value="Euro">Euro</option>
                        <option value="USD">USD</option>
                    </select>

                    <small class="text-danger">@Html.ValidationMessageFor(model=>model.Currency)</small>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-12 text-center">
                    <input type="submit" class="btn btn-success" />
                </div>
            </div>
        </form>

    </div>
</section>
