
@{
    ViewData["Title"] = "Expenses - Monefy";
}

<section id="expense_index">
    <div class="container w-50" style="margin-top: 200px;">
        <div class="row">
            <div class="col-12 text-center">
                <a asp-area="" asp-controller="Expense" asp-action="Expenses">
                    <button class="btn btn-success p-3">My Expenses</button>
                </a>

                <a asp-area="" asp-controller="Expense" asp-action="Create">
                    <button class="btn btn-success p-3">Create Account</button>
                </a>
            </div>
        </div>
    </div>
</section>

