@{
    ViewData["Title"] = "Expenses - Monefy";
}

<section id="expense_index">
    <div class="container w-50" style="margin-top: 200px;">
        <div class="row">
            <div class="col-12 text-center">
                <a class="btn btn-success p-3" asp-area="" asp-controller="Expense" asp-action="Expenses">
                    My Expenses
                </a>

                <a class="btn btn-success p-3" asp-area="" asp-controller="Expense" asp-action="Create">
                    Create Expense
                </a>
            </div>
        </div>
    </div>
</section>

